/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
   font-family: 'branboll';
   src: url('../fonts/BrannbollFS_PERSONAL.ttf');
 }
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: url("../img/woodt.png") !important;
    background-size:cover !important;

    font-family:'futuraL',  sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
.credit,.crediT{
    font-size:16px;
    font-weight:bolder;
    text-align: center;
    margin-bottom: -8%;
}
.sTitle{
    font-size:14px;
    font-weight:bolder;
    text-align: center;
    margin-bottom: 5px;
}
.cardd{
    display: flex;
}
.cardd div{
  width: 50%;
}
.ayudamen{
	display: table;
	margin: auto;
	padding-top: 20px;
}
.ayudamen a{
    padding: 15px 0 ;
    display: block;
    text-decoration: none;
    color: #fff;
}
.ayudamen a:hover{
	color:#ff0049
}
/* Portrait layout (default) */
.app {

    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.elm-cent{
	display: table;
	margin: auto;
}
.logolog{
	margin-top: 30px;
}
.ui-page-theme-a{
	background: transparent;
	text-shadow: none !important;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
.lback{
    padding: 20px;
}
.price{
	margin-right:20px;
	margin-top:-1px;
	float: right;
}
.pricet{
	margin-right:8px;
	margin-top:-1px;
	float: right;
	color: orange;
}
.aplus,.aminus,.atimes,.showi,.citem{
	margin-top:-5px;
	border: 1px solid orange;
	padding: 3px 5px;
	color: orange;
	float: right;
}
.cants{
	margin-top:-5px;
	padding: 3px 5px;

	float: right;
}
.aplus:hover, .aminus:hover, .atimes:hover, .citem:hover{
	border: 1px solid #fff;
	color: #fff !important;
}
.innerl{

    margin-top:-4px;
    background: rgba(0,0,0,0.6);
    -webkit-transform: skewX(-2.5deg) rotate(-2.5deg);  ;
    -khtml-transform: skewX(-2.5deg)  rotate(-2.5deg);  ;
    -moz-transform: skewX(-2.5deg)   rotate(-2.5deg);  ;
    -ms-transform: skewX(-2.5deg) rotate(-2.5deg);  ;
    -o-transform: skewX(-2.5deg)   rotate(-2.5deg);  ;
    transform: skewX(-2.5deg)  rotate(-2.5deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
}

.areacon{
	padding: 0 15px;
	margin-bottom: 60px;
}
#comentarios{
    resize:none;
    height:220px !important;
    -webkit-transform: skewX(2.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(2.5deg)  rotate(3deg);  ;
    -moz-transform: skewX(2.5deg)   rotate(3deg);  ;
    -ms-transform: skewX(2.5deg) rotate(3deg);  ;
    -o-transform: skewX(2.5deg)   rotate(3deg);  ;
    transform: skewX(2.5deg)  rotate(3deg);  ;
    -webkit-transform-origin: 0 0;
}
.fixAdd{
	width:100%;

	position: fixed;
	bottom: 0;
	left:0;
	background: #ff0049;
}
.fixAdd button{
	background: #ff0049 !important;
	color: #fff;
	border: none !important;
	box-shadow: none !important;
	border-radius:0 !important;
}
.fixAdd button:hover{
	background: #fff !important;
	color: #ff0049;

}
.ft{
	font-size: 10px;
}
.headt{
	-webkit-transform: skewX(2.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(3deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(3deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(3deg);  ;
    -o-transform: skewX(2.5deg)  rotate(3deg);  ;
    transform: skewX(2.5deg) rotate(3deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
}
.tiempoe{
	font-size: 10px;
	float:right;
}
.headt p{
	text-align: center;
	color: #fff;
}
.headt h1{
	color: orange;
	font-weight:bolder;
}
.tname{
	color: orange;
	text-transform: uppercase;
}
.innerl ul{
	list-style:none;
	padding: 10px 25px;
	 -webkit-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -o-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    transform: skewX(2.5deg) rotate(2.5deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.innerl form{

	padding: 10px 25px;
	 -webkit-transform: skewX(2.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(3deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(3deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(3deg);  ;
    -o-transform: skewX(2.5deg)  rotate(3deg);  ;
    transform: skewX(2.5deg) rotate(3deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.innerDiv{

	padding: 10px 25px;
	 -webkit-transform: skewX(2.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(3deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(3deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(3deg);  ;
    -o-transform: skewX(2.5deg)  rotate(3deg);  ;
    transform: skewX(2.5deg) rotate(3deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.innerDiv h1{
	color: orange;
	font-weight: bolder;
}
.innerDiv p{
	color: #fff;
}
#payForm input{
	background: #fff;
	padding: 5px;
}
#conForm input{
	background: rgba(255,255,255,0.7);
	padding: 5px;
}
#payForm label,#conForm label{
	color: #fff;
}
#conForm {
	padding: 0 25px;
}
#conForm textarea{
	background: rgba(255,255,255,0.7);
	min-height: 150px;
	resize: none;
}
.innerl ul li{
	 display: flow-root;
	 color: #fff;
	 padding: 5px 0;

	 border-bottom: 2px solid #fff;
}

#logForm input{
	margin-top: 18px !important;
}
.datos{
	display:table;
	margin:auto;
	font-family: "futuraL";
	font-weight:100;
	margin-top:25px;
	border-radius:3px;
	width:130px !important;
	background: #ff0049 !important;
	padding:15px 5px;
	color: #FFF;
	 -webkit-transform: skewX(-10.5deg) rotate(-3deg);  ;
    -khtml-transform: skewX(-10.5deg) rotate(-3deg);  ;
    -moz-transform: skewX(-10.5deg)  rotate(-3deg); ;
    -ms-transform: skewX(-10.5deg)  rotate(-3deg); ;
    -o-transform: skewX(-10.5deg)  rotate(-3deg); ;
    transform: skewX(-10.5deg)  rotate(-3deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
}
.datos >  img{
	display: inline;
	 -webkit-transform: skewX(10.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(10.5deg) rotate(3deg);  ;
    -moz-transform: skewX(10.5deg)  rotate(3deg); ;
    -ms-transform: skewX(10.5deg)  rotate(3deg); ;
    -o-transform: skewX(10.5deg)  rotate(3deg); ;
    transform: skewX(10.5deg)  rotate(3deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
}
.datos > div{
	margin-top:-8px;
	margin-left: 25px
}
.datos > div >  p{
	text-align:center;
	word-wrap:break-word;
	margin-top:12px;
	text-transform:none;
	color: #fff;
	font-size:14px;
	 -webkit-transform: skewX(10.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(10.5deg) rotate(3deg);  ;
    -moz-transform: skewX(10.5deg)  rotate(3deg); ;
    -ms-transform: skewX(10.5deg)  rotate(3deg); ;
    -o-transform: skewX(10.5deg)  rotate(3deg); ;
    transform: skewX(10.5deg)  rotate(3deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.menusecs{
	margin-top: -50px;
}
#mess{
	display: none;
	text-align: center;
	color: #ff0049;
}
.loads{
	background: rgba( 0,0,0,0.6);
	width:50px;
	border-radius: 3px;
	padding: 8px;
	color: #fff;
	position: absolute;
	top:50%;
	left: 42%;
	display: none;
}
.loads i{
  display: table;
  margin: auto;
}
.useri{
	width:20px;
	position: absolute;
	left: 6px;
}
.cart{
	border-radius: 0 !important;
    position: absolute;
    right: 9px;
    width: 20px;
    height: 20px;
    top: 30px;
    background: url(../img/cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    border-color: transparent;
}
#menbu{
	width:30px;
	height:30px;
	padding: 0px;
	position: absolute;
	left: 20px;
	top:35px;

}

.menitem a{
	text-transform:none;
	border: none;
	font-size:18px;
	border-color:transparent;
	color:#333;
	font-family: "futuraL";
}
.headerb{
	padding: 20px 30px;
}
.inputF{
	width: 300px !important;
	display: table !important;
	margin: auto !important;
	background: #ccc !important;
	border-radius: 3px !important;
}
.ui-selectmenu .ui-header .ui-title {
    margin: 5px 2.875em;
}
.ui-select a{
	border: none;
	color: #fff;
	background: orange;
}
.ui-icon-delete{
	border:none;
}
.ui-select a:hover{
	color: #fff;

}
.ui-btn.ui-checkbox-off.ui-btn-icon-right{
	border:none;
	color: #fff;

}
.ui-btn.ui-checkbox-on.ui-btn-icon-right{
	border: 1px solid orange;
	color: orange;
}
.innerDiv > .pname{
	font-size: 16px;

}
.iname{
	 overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
}
#igds{
	display: none;
}
#igds-listbox{
	background: #000;
}
#guarns{
  display: none;
}
#guarns-listbox{
	background: #000;
}
.schoolS{
	width: 100% !important;
	border-radius: 5px;
	padding: 5px 8px;
	font-family: "futuraL";
}
span.schoolS{
	display: none !important;
}
#schoolList{
	width: 300px !important;
	display: table !important;
	margin: auto !important;
	background: #ccc !important;
	border-radius: 3px !important;
	padding: 5px 0;
}
.ui-select > .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow{
	border:none;
	box-shadow: none;
	padding-right: 0;
	padding-left: 0;
}
#schoolList-button.ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow{
	border:none;
	box-shadow: none;
	padding-right: 0;
	padding-left: 0;
}
#schoolList-button > span{
	display: none;
}
.ui-icon-delete:after{
	background-repeat: no-repeat;
	background-position:center;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
	background-repeat: no-repeat;
}
.inputF{
	width: 300px !important;
	display: table !important;
	margin: auto !important;
	background: #ccc !important;
	border-radius: 3px !important;
}
.labelF{
	text-transform:none !important;
	display: table !important;
	margin: auto !important;
	color: #fff !important;
}
.loga{
	padding-top:15px !important;
	font-size:18px;
	text-decoration: none;
	text-transform:none !important;
	display: table !important;
	margin: auto !important;
	color: #00979a !important;
}
.loga:active,.loga:hover{
	text-decoration:underline;
}
.enterb{
	display:table;
	margin:auto;
	font-family: "futuraMC";
	font-weight:100;
	margin-top:25px;
	width:130px !important;
	background: #ff0049 !important;
	padding:15px 0px;
	color: #FFF;
	 -webkit-transform: skewX(-10.5deg) rotate(-3deg);  ;
    -khtml-transform: skewX(-10.5deg) rotate(-3deg);  ;
    -moz-transform: skewX(-10.5deg)  rotate(-3deg); ;
    -ms-transform: skewX(-10.5deg)  rotate(-3deg); ;
    -o-transform: skewX(-10.5deg)  rotate(-3deg); ;
    transform: skewX(-10.5deg)  rotate(-3deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */


    border: 1px solid #a91e23;
    transition: all ease 0.5s;
}
.enterb:active, .enterb:hover{
	background: #fff !important;
	color: #ff0049 !important;
}
.enterb p{
	letter-spacing:1px;
	margin:0;

	font-size:18px;
	margin-bottom: 6px;
	text-align:center;
	 -webkit-transform: skewX(10.5deg) rotate(3deg);  ;
    -khtml-transform: skewX(10.5deg) rotate(3deg);  ;
    -moz-transform: skewX(10.5deg)  rotate(3deg); ;
    -ms-transform: skewX(10.5deg)  rotate(3deg); ;
    -o-transform: skewX(10.5deg)  rotate(3deg); ;
    transform: skewX(10.5deg)  rotate(3deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.confb{
	display:table;
	margin:auto;
	font-family: "futuraMC";
	font-weight:100;
	margin-top:25px;
	width:130px !important;
	background: #ff0049 !important;
	padding:15px 0px;
	color: #FFF;
	 -webkit-transform: skewX(-1.5deg) rotate(0deg);  ;
    -khtml-transform: skewX(-1.5deg) rotate(0deg);  ;
    -moz-transform: skewX(-1.5deg)  rotate(0deg); ;
    -ms-transform: skewX(-1.5deg)  rotate(0deg); ;
    -o-transform: skewX(-1.5deg)  rotate(0deg); ;
    transform: skewX(-1.5deg)  rotate(0deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */


    border: 1px solid #a91e23;
    transition: all ease 0.5s;
}
.confb:active, .confb:hover{
	background: #fff !important;
	color: #ff0049 !important;
}
.confb p{
	letter-spacing:1px;
	margin:0;

	font-size:18px;
	margin-bottom: 6px;
	text-align:center;
	 -webkit-transform: skewX(2.5deg) rotate(4deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(4deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(4deg); ;
    -ms-transform: skewX(2.5deg)  rotate(4deg); ;
    -o-transform: skewX(2.5deg)  rotate(4deg); ;
    transform: skewX(2.5deg)  rotate(4deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
.confn{
	display:table;
	margin:auto;
	font-family: "futuraMC";
	font-weight:100;
	margin-top:25px;
	width:130px !important;
	background: #ff0049 !important;
	padding:15px 0px;
	color: #FFF;
	 -webkit-transform: skewX(-2.5deg) rotate(-4deg);  ;
    -khtml-transform: skewX(-2.5deg) rotate(-4deg);  ;
    -moz-transform: skewX(-2.5deg)  rotate(-4deg); ;
    -ms-transform: skewX(-2.5deg)  rotate(-4deg); ;
    -o-transform: skewX(-2.5deg)  rotate(-4deg); ;
    transform: skewX(-2.5deg)  rotate(-4deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */


    border: 1px solid #a91e23;
    transition: all ease 0.5s;
}
.confn:active, .confn:hover{
	background: #fff !important;
	color: #ff0049 !important;
}
.confn p{
	letter-spacing:1px;
	margin:0;

	font-size:18px;
	margin-bottom: 6px;
	text-align:center;
	 -webkit-transform: skewX(2.5deg) rotate(4deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(4deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(4deg); ;
    -ms-transform: skewX(2.5deg)  rotate(4deg); ;
    -o-transform: skewX(2.5deg)  rotate(4deg); ;
    transform: skewX(2.5deg)  rotate(4deg); ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */

}
h1 {
	color:#fff;
    font-size:24px;
    font-weight:lighter;
    margin:0px;

    overflow:visible;
    padding:0px;
    text-align:center;
}
.title{
	margin-top: 20px;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.pedido{
    padding: 10px 25px;
    -webkit-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -o-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    transform: skewX(2.5deg) rotate(2.5deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
    color: white;
}
#hora{
    padding: 10px 25px;
    -webkit-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -khtml-transform: skewX(2.5deg) rotate(2.5deg);  ;
    -moz-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -ms-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    -o-transform: skewX(2.5deg)  rotate(2.5deg);  ;
    transform: skewX(2.5deg) rotate(2.5deg);  ;
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
    color: white;
    font-weight: bold;
    border: 1px solid white;
}
#hora::placeholder{
  color: white;
}
.princip{
  font-family: 'branboll';
  font-size: 50px !important;
  text-transform: none !important;
  margin-top: 5% !important;
  margin-bottom: -13% !important;
  padding: 0 0 !important;
}
.cuenta{
  color: #4883c5 !important;
  font-family: 'branboll';
  text-transform: none !important;
  font-size: 36px;
  margin-bottom: -9%;
}
.comida{
  font-family: 'branboll';
  font-size: 45px !important;
  text-transform: none !important;
  margin-top: 5% !important;
  margin-bottom: -13% !important;
  padding: 0 0 !important;
}
